<h2>Login</h2>

<div *ngIf="userSession==null">
  <form class="login-form">
    <mat-form-field class="login-full-width">
      <input matInput placeholder="Login-Name" [(ngModel)]="user.loginName" name="username" value="">
      <mat-error *ngIf="!isUsernameValid()">Kein registrierter Benutzer.</mat-error>
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <input matInput type="password" [(ngModel)]="user.password"  name="password" placeholder="Passwort">
    </mat-form-field>

    <button mat-raised-button (click)="login()">Einloggen</button>
    <button mat-raised-button routerLink="/registration">Registrieren</button>
  </form>
</div>
<div *ngIf="userSession!=null">
  Erfolgreich eingeloggt
</div>
