<div class="main-div">

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="userSession==null">
      <form class="login-form">
        <mat-form-field class="login-full-width" appearance="outline">
          <mat-label>Benutzername</mat-label>
          <input matInput placeholder="Benutzername" [(ngModel)]="user.loginName" name="username" value="">
          <mat-error *ngIf="!isUsernameValid()">Kein registrierter Benutzer.</mat-error>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="login-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="user.password" name="password" placeholder="Passwort">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <button mat-raised-button (click)="login()">Einloggen</button>
        <button mat-raised-button routerLink="/registration">Registrieren</button>
      </form>
    </div>
    <div *ngIf="userSession!=null" style="margin-top:1em; color: green">
      Erfolgreich eingeloggt<br />
      <img style="margin-top: 1em; height:20em; width: 20em" src="https://media1.giphy.com/media/RNpXqQrL53cfm/giphy.gif?cid=790b76115cf0fb545764483749a48a3b&rid=giphy.gif" />

    </div>

    <div *ngIf="wrongLogin" style="color:red; margin-top:1em;">
      Wrong Login!<br />
      <img style="margin-top: 1em; height:20em; width: 20em" src="https://media3.giphy.com/media/kyHUOat3LQkXS/giphy.gif?cid=790b76115cf0f93764444e314171a3f9&rid=giphy.gif" />
    </div>
  </mat-card-content>
</mat-card>
</div>
