<h2>Registrierung</h2>

<form class="registration-form">
  <mat-form-field class="registration-full-width">
    <input matInput placeholder="Name" value="">
  </mat-form-field>

  <mat-form-field class="registration-full-width">
    <input matInput placeholder="Vorname" value="">
  </mat-form-field>

  <mat-form-field class="registration-full-width">
    <input matInput placeholder="UserName" value="">
  </mat-form-field>

  <mat-form-field class="registration-full-width">
    <input matInput type="password" placeholder="Passwort">
  </mat-form-field>

  <mat-form-field class="registration-full-width">
    <input matInput placeholder="PLZ" value="">
  </mat-form-field>

  <mat-form-field class="registration-full-width">
    <input matInput placeholder="Ort" value="">
  </mat-form-field>

  <mat-form-field class="registration-full-width">
    <input matInput placeholder="Straße" value="">
  </mat-form-field>

  <h3>Bitte lösen Sie die folgende Aufgabe:</h3>

  <mat-form-field class="registration-full-width">
    <input matInput placeholder="Ergebnis">
  </mat-form-field>

<button mat-raised-button class="registration-submit" type="submit">
  <p>Submit</p>
</button>
</form>
