mat-grid-tile {
  background: lightblue;
}

mat-grid {
  background: lightgray;
}

mat-grid-tile {
  width: 100%;
  display: flex;
  background-color: yellow;
  flex-direction: column;
}

mat-grid-tile > * {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.profile-card {
  margin-top: 2em;
}

.profile-card img {
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}
