<div class="main-div">

  <mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title>Dein Profil</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="getProfileUrl()" alt="Photo of a Shiba Inu">

    <mat-card-content>
      <div *ngIf="userData!=null">
        <p>
          Hier siehst du deine aktuellen Profildaten:
        </p>
        <div class="example-container">
          <mat-form-field  appearance="outline">
            <mat-label>Vorname</mat-label>
            <input matInput type="string" placeholder="Vorname" min="10" value="{{userData.vorname}}">
            <mat-icon matSuffix>profile</mat-icon>
            <!--      <mat-error *ngIf="options.get('fontSize')?.invalid">Min size: 10px</mat-error>-->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Nachname</mat-label>
            <input matInput type="string" placeholder="Nachname" min="10" value="{{userData.nachname}}">
            <mat-icon matSuffix>profile</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Benutzername</mat-label>
            <input matInput type="string" placeholder="Login Name" min="10" value="{{userData.loginName}}">
            <mat-icon matSuffix>profile</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="userData==null">
  not logged in
</div>
