.header {
  background: #ffffff;
//height: 150px;
}

.header-burger-container {
  width: 80px;
}


.header-icon-container {
  width: 2em;
}

.header-logo {
  width: 3em;
  content:url("https://cdn.pixabay.com/photo/2016/11/04/14/13/google-maps-1797882_1280.png");
}

.header-logo-container {
  width: 200px;
  vertical-align: center;
  horiz-align: center;
}

.fill-toolbar-space {
  flex: 1 1 auto;
}
