<mat-toolbar class="header mat-elevation-z3">

  <div class="header-burger-container">
    <!--<button mat-icon-button (click)="sidebar.switchSidebarCollapseState()">-->
    <button mat-icon-button>
      <mat-icon mat-list-icon class="mat-icon-32">menu</mat-icon>
    </button>
  </div>

  <div class="header-logo-container">
    <img class="header-logo">
  </div>

  <div style="width: 100px" >GPS and Friends</div>
  <!--<div style="width: 100px" i18n="@@HomeTitle">Header</div>-->
  <div class="fill-toolbar-space" style="align-content: center">
  </div>
  <div class="header-icon-container">
    <button mat-icon-button>
      <mat-icon mat-list-icon class="mat-icon-32">apps</mat-icon>
    </button>
  </div>
  <div class="header-icon-container">
    <button mat-icon-button>
      <mat-icon mat-list-icon class="mat-icon-32">person</mat-icon>
    </button>
  </div>
</mat-toolbar>
