<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="true" (click)="resetSetLocationBool()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>location_off</mat-icon> Standort manuell setzen
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <form class="location-form">
        <p class="location-form-width">Dein Standort wird standardmäßig automatisch gesetzt. Hier kannst du ihn auch manuell setzen.</p>
        <mat-form-field class="location-form-width">
          <input matInput placeholder="Straße & Hausnummer" [(ngModel)]="locationFormData.streetAndHouseNumber" name="streetAndHouseNumber" value="">
        </mat-form-field>
        <mat-form-field class="location-form-width">
          <input matInput placeholder="Ort" [(ngModel)]="locationFormData.city" name="city" value="">
        </mat-form-field>
        <mat-form-field class="location-form-width">
          <input matInput placeholder="Land" [(ngModel)]="locationFormData.country" name="country" value="">
        </mat-form-field>

        <button mat-raised-button (click)="setStandortByFormData()">Standort setzen</button>

        <p class="location-form-width" *ngIf="successMessageSetLocation" style="color: green">Standort erfolgreich gespeichert.</p>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>map</mat-icon>
        Standorte deiner Freunde
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <mat-tab-group>
        <mat-tab label="Freunde auswählen">
          <!-- Friends Selector-->
          <div *ngIf="dataSource.data!=null">
            <div fxLayout fxLayoutAlign="center center">
              <mat-form-field fxFlex="40%">
                <input matInput type="text" (keyup)="filterFriendsTable($event.target.value)" placeholder="Filter">
              </mat-form-field>
            </div>
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="name" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Deine Freunde</th>
                <td mat-cell *matCellDef="let element">{{element.vorname}} {{element.nachname}}</td>
              </ng-container>
              <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox
                    class="friends-table-checkbox" (change)="enableFriend(element)" [checked]="isFriendEnabled(element)">
                  </mat-checkbox>
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-tab>
        <mat-tab label="Map ansehen">
          <div #gmapfriends style="width:100%;height:600px"></div>
          Map
        </mat-tab>
      </mat-tab-group>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>map</mat-icon>
        Alle Standorte
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #gmap style="width:100%;height:600px"></div>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>

<!--GMAPS:-->


<!--<button mat-raised-button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button>-->
<!--<button mat-raised-button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>-->
<!--<button mat-raised-button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button>-->
