<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="true" (click)="resetSetLocationBool()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>location_off</mat-icon> Standort manuell setzen
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <form class="location-form">
        <p class="location-form-width">Dein Standort wird standardmäßig automatisch gesetzt. Hier kannst du ihn auch manuell setzen.</p>
        <mat-form-field class="location-form-width">
          <input matInput placeholder="Straße & Hausnummer" [(ngModel)]="locationFormData.streetAndHouseNumber" name="streetAndHouseNumber" value="">
        </mat-form-field>
        <mat-form-field class="location-form-width">
          <input matInput placeholder="Ort" [(ngModel)]="locationFormData.city" name="city" value="">
        </mat-form-field>
        <mat-form-field class="location-form-width">
          <input matInput placeholder="Land" [(ngModel)]="locationFormData.country" name="country" value="">
        </mat-form-field>

        <button mat-raised-button (click)="setStandortByFormData()">Standort setzen</button>

        <p class="location-form-width" *ngIf="successMessageSetLocation" style="color: green">Standort erfolgreich gespeichert.</p>
      </form>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>people</mat-icon>
        Anzeige einschränken
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
        <!-- Friends Selector-->
        <div *ngIf="dataSource.data!=null">
          <div class="friends-table-full-with">
            <mat-form-field>
              <input matInput type="text" (keyup)="filterFriendsTable($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
              <td mat-cell *matCellDef="let element">{{element.vorname}}</td>
            </ng-container>
            <ng-container matColumnDef="lastname" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nachname</th>
              <td mat-cell *matCellDef="let element">{{element.nachname}}</td>
            </ng-container>
            <ng-container matColumnDef="checkbox">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox
                  class="friends-table-checkbox"  (click)="switchFriendEnablement(element)" checked="true" >
                </mat-checkbox>
<!--                  <mat-checkbox-->
<!--                    class="friends-table-checkbox"  (click)="switchFriendEnablement(element)" value="1" [checked]="!isFriendEnabled(element)">-->
<!--                  </mat-checkbox>-->
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>map</mat-icon>
        Alle Standorte
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div #gmap style="width:100%;height:600px"></div>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>

<!--GMAPS:-->


<!--<button mat-raised-button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button>-->
<!--<button mat-raised-button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>-->
<!--<button mat-raised-button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button>-->
